<button (click)="add()">Add</button>
<button (click)="retrieve()">Retrieve</button>
<button (click)="clear()">Clear</button>
<button (click)="bulkAdd()">Bulk</button>
<button (click)="bulkGet()">BulkGet</button>



<div>{{ counnter }}</div>

<button (click)="incrementCounter()">Increment</button>

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />



<input type="text" />

<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />


<br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
Hello Pakistan
